@using GSDRequirementsCSharp.Infrastructure.Internationalization
@using GSDRequirementsCSharp.Web.Models

<article data-ng-class="{ 'global-loading' : pendingRequests > 0 }">

    <h4 data-ng-hide="package.id">@Sentences.createPackage</h4>
    <h4 data-ng-show="package.id">@Sentences.editPackage {{package.name}}</h4>

    <div class="row">
        <div class="col-md-6">
            @TextInputHelper.TextInput("description", Sentences.description, true, Att.NgModel("package.description"))
        </div>
    </div>
    
    <article data-gsd-package-translation-list=""
             data-translations="translations"
             data-translations-already-provided="[]"></article>

    <div class="btn-group">
        <button class="btn btn-default"
                data-ng-click="package = null">
            @Sentences.cancel
        </button>
        <button class="btn btn-primary"
                type="button"
                data-ng-click="save()">
            @Sentences.save
        </button>
    </div>
</article>
