@using GSDRequirementsCSharp.Infrastructure.Internationalization

<article data-ng-class="{ 'global-loading' : pendingRequests > 0 }">
    <div class="row">
        <h2 class="title-text" data-ng-hide="addingNewLink">
            @Sentences.manageArtifactsLinks {{specificationItem.getLabel()}}
            <button class="btn btn-primary"
                    data-ng-click="addNewLink()"
                    title="@Sentences.addLink">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </h2>

        <div class="col-md-10" data-ng-hide="addingNewLink">
            <div class="alert alert-info" data-ng-show="links.length == 0">
                @Sentences.thisArtifactHasNoLinks
            </div>
            <table class="table table-hover" data-ng-show="links.length > 0">
                <thead>
                    <tr>
                        <th>@Sentences.description</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="itemLink in links">
                        <td>{{itemLink.getDescription()}}</td>
                        <td>
                            <button class="btn"
                                    title="@Sentences.removeLink">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button type="button"
                    data-ng-click="specificationItem = null"
                    class="btn btn-default">
                @Sentences.goBack
            </button>
        </div>
    </div>

    <div class="row" data-ng-show="addingNewLink">
        <h2>@Sentences.addNewLinkToArtifact {{specificationItem.getLabel()}}</h2>

        <div class="col-md-10" data-ng-show="specificationItems.length == 0">
            <div class="alert alert-info">
                @Sentences.noArtifactsAvailableToLink
            </div>
            <div class="btn-group">
                <button type="button"
                        data-ng-click="addingNewLink = false"
                        class="btn btn-default">
                    @Sentences.cancel
                </button>
            </div>
        </div>
        <div class="col-md-3" data-ng-show="specificationItems.length > 0">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>@Sentences.id</th>
                        <th>@Sentences.type</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="item in specificationItems"
                        data-ng-class="{'selected': selected == item}"
                        style="cursor: pointer"
                        data-ng-click="selectItem(item)">
                        <td>
                            {{item.label}}
                            <span class="glyphicon glyphicon-ok"
                                  style="color: green"
                                  data-ng-show="item.linked">
                            </span>
                        </td>
                        <td>{{item.type}}</td>
                    </tr>
                </tbody>
            </table>

            <div class="btn-group">
                <button type="button"
                        data-ng-click="addingNewLink = false; selected = null"
                        class="btn btn-default">
                    @Sentences.cancel
                </button>
                <button class="btn btn-primary"
                        data-ng-click="saveLink()"
                        data-ng-disabled="!selected">
                    @Sentences.add
                </button>
            </div>
        </div>
        <div class="col-md-7"
             data-ng-show="!selected && specificationItems.length > 0">
            <small style="color: cadetblue;">
                @Sentences.selectAnArtifactToSeeItsDetails
            </small>
        </div>
        <div class="col-md-7" data-ng-show="selected && !selected.linked">
            ~Dados do artefato~
        </div>
    </div>
</article>
