@using GSDRequirementsCSharp.Infrastructure.Internationalization

<article data-ng-class="{ 'global-loading' : pendingRequests > 0 }">

    <h3 data-ng-show="!requirement.id">
        @Sentences.addRequirement
    </h3>
    <h3 data-ng-show="requirement.id">
        @Sentences.editRequirement {{requirement.getLabel()}}
    </h3>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>
                    * @Sentences.package
                </label>
                <select type="text"
                        class="form-control"
                        data-ng-model="requirement.packageId"
                        data-ng-options="package.id as package.description for
                                         package in packagesOptions"></select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>
                    * @Sentences.difficulty
                </label>
                <select type="text"
                        class="form-control"
                        data-ng-model="requirement.difficulty"
                        data-ng-options="difficulty.value as difficulty.label
                                         for difficulty in difficultyOptions"></select>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>
                    * @Sentences.rank
                </label>
                <input type="text"
                       class="form-control"
                       data-ng-model="requirement.rank">

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>
                    * @Sentences.type
                </label>

                <select type="text"
                        data-ng-disabled="requirement.id"
                        class="form-control"
                        data-ng-model="requirement.requirementType"
                        data-ng-options="type.value as type.label for
                                         type in requirementTypeOptions"></select>

            </div>
        </div>
    </div>
    
    @Html.Partial("_ContentFields")

    <div class="row">
        <article data-gsd-requirement-translation-list=""
                 data-translations="translations"
                 data-original-data="requirement"
                 class="col-sm-offset-1 col-md-8"
                 data-translations-already-provided="translationsAlreadyProvided"></article>
    </div>

    <div class="btn-group col-sm-offset-1">
        <button type="button"
                data-ng-click="cancel()"
                class="btn btn-default">
            @Sentences.cancel
        </button>
        <button type="button"
                class="btn btn-primary"
                data-ng-click="save()">
            @Sentences.save
        </button>
    </div>
    </div>
</article>
