@using GSDRequirementsCSharp.Infrastructure.Internationalization
@using GSDRequirementsCSharp.Web.Models

<article data-ng-class="{ 'global-loading' : pendingRequests > 0 }">

    <h3 data-ng-show="!requirement.id">
        @Sentences.addRequirement
    </h3>
    <h3 data-ng-show="requirement.id">
        @Sentences.editRequirement {{requirement.getLabel()}}
    </h3>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>
                    * @Sentences.package
                </label>
                <select type="text"
                        class="form-control"
                        data-ng-model="requirement.packageId"
                        data-ng-options="package.id as package.description for
                                         package in packagesOptions"></select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>
                    * @Sentences.difficulty
                </label>
                <select type="text"
                        class="form-control"
                        data-ng-model="requirement.difficulty"
                        data-ng-options="difficulty.value as difficulty.label
                                         for difficulty in difficultyOptions"></select>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>
                    * @Sentences.rank
                </label>
                <input type="text"
                       placeholder="ex: 15"
                       class="form-control"
                       data-mask="99999"
                       data-ng-model="requirement.rank">

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>
                    * @Sentences.type
                </label>

                <select type="text"
                        data-ng-disabled="requirement.id"
                        class="form-control"
                        data-ng-model="requirement.requirementType"
                        data-ng-options="type.value as type.label for
                                         type in requirementTypeOptions"></select>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="select-box" style="margin-bottom: 10px; ">
                <label>@Sentences.language</label>
                <ui-select data-ng-model="requirement.currentLocale"
                           data-theme="bootstrap"
                           data-search-enabled="false"
                           append-to-body="false">
                    <ui-select-match>
                        {{$select.selected}}
                        <span class="glyphicon glyphicon-ok"
                              style="color: #008A21"
                              data-ng-show="requirement.containsLocale($select.selected)">
                        </span>
                    </ui-select-match>
                    <ui-select-choices repeat="locale in locales track by locale">
                        <span ng-bind="locale"></span>
                        <span class="glyphicon glyphicon-ok"
                              style="color: #008A21"
                              data-ng-show="requirement.containsLocale(locale)">
                        </span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>

    <input type="hidden" data-ng-init="defaultConditionPlaceholder = '@Sentences.whenTheUserIsAnAdministrator'" />
    <input type="hidden" data-ng-init="defaultSubjectPlaceholder = '@Sentences.theSystem'" />
    <input type="hidden" data-ng-init="defaultActionPlaceholder = '@Sentences.mustAllowAccessPermissionManagement'" />

    <div class="row">
        <div class="col-md-6">
            @TextInputHelper.TextInput("condition",
                                       Sentences.condition,
                                       false,
                                       Att.NgModel("requirement.contentDictionary[requirement.currentLocale].condition"),
                                       Att.Placeholder("{{requirement.getContentProperty('condition') || defaultConditionPlaceholder}}"))
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            @TextInputHelper.TextInput("subject",
                                       Sentences.subject,
                                       false,
                                       Att.NgModel("requirement.contentDictionary[requirement.currentLocale].subject"),
                                       Att.Placeholder("{{requirement.getContentProperty('subject') || defaultSubjectPlaceholder}}"))
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            @TextInputHelper.TextInput("action",
                                       Sentences.action,
                                       false,
                                       Att.NgModel("requirement.contentDictionary[requirement.currentLocale].action"),
                                       Att.Placeholder("{{requirement.getContentProperty('action') || defaultActionPlaceholder}}"))
        </div>
    </div>

    <div class="btn-group">
        <button type="button"
                data-ng-click="cancel()"
                class="btn btn-default">
            @Sentences.cancel
        </button>
        <button type="button"
                class="btn btn-primary"
                data-ng-click="save()">
            @Sentences.save
        </button>
    </div>
</article>
