@using GSDRequirementsCSharp.Infrastructure.Internationalization

<article>
    <h3>
        @Sentences.addTranslationForRequirement {{requirement.prefix}}{{requirement.identifier}}
    </h3>
    <h4>
        @Sentences.original
    </h4>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <select class="form-control"
                        data-ng-model="displayLocale"
                        data-ng-options="locale.name as locale.label for locale in availableLocaleContents"></select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            @Sentences.condition
        </div>
        <div class="col-md-6">
            {{originalCondition}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            @Sentences.subject
        </div>
        <div class="col-md-6">
            {{originalSubject}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            @Sentences.action
        </div>
        <div class="col-md-6">
            {{originalAction}}
        </div>
    </div>

    <article data-gsd-requirement-translation-list=""
             data-translations="translations"
             data-original-data="originalData"
             data-translations-already-provided="translationsAlreadyProvided"></article>

    <div class="btn-group">
        <button class="btn btn-default"
                data-ng-click="requirement = null">
            @Sentences.cancel
        </button>
        <button class="btn btn-primary"
                type="button"
                data-ng-click="save()">
            @Sentences.save
        </button>
    </div>
</article>
