@using GSDRequirementsCSharp.Infrastructure.Internationalization

@{
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<div data-ng-controller="PermissionController"
     data-ng-class="{ 'global-loading' : pendingRequests > 0 }">

    <script type="text/ng-template" id="permissionAddModal.html">
        <div class="modal-header">
            <h3 class="modal-title">@Sentences.addPermissions</h3>
        </div>
        <div class="modal-body" data-ng-form="" data-name="permissionForm">
            <div class="form-inline">
                <div class="form-group">
                    <label for="userForm"
                           title="@Sentences.searchForAnUserByNameOrEmail">
                        @Sentences.user
                    </label>
                    <input type="text"
                           id="userForm"
                           data-ng-model="permission.user"
                           placeholder="@Sentences.searchForAnUserByNameOrEmail"
                           data-typeahead-loading="loadingUsers"
                           data-typeahead-min-length="3"
                           data-typeahead-wait-ms="400"
                           data-typeahead-no-results="noResults"
                           data-uib-typeahead="user as getUserLabel(user) for user in getUsers($viewValue)"
                           class="form-control">
                    <i data-ng-show="loadingUsers" class="glyphicon glyphicon-refresh"></i>
                    <div data-ng-show="noResults">
                        <i class="glyphicon glyphicon-remove"></i> @Sentences.noResults
                    </div>
                </div>
                <div class="form-group">
                    <label for="profileForm">
                        @Sentences.profile
                    </label>
                    <select class="form-control"
                            id="profileForm"
                            data-ng-options="profile.value as profile.label
                                             for profile in profileOptions"
                            data-ng-model="permission.profile"></select>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="btn-group">
                <button class="btn btn-default"
                        data-ng-click="cancel()">
                    @Sentences.cancel
                </button>
                <button class="btn btn-primary"
                        data-ng-disabled="!permissionForm.$valid"
                        data-ng-click="conclude()">
                    @Sentences.add
                </button>
            </div>
        </div>
    </script>

    <h2>
        @Sentences.manageProjectUsers
        <button class="btn btn-primary"
                title="@Sentences.addRequirement"
                data-ng-click="showAddPermissionsModal()">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
    </h2>

    <div class="alert alert-info" data-ng-show="permissions.length == 0">
        @Sentences.noPermissionRegistered
    </div>

    <article data-ng-show="permissions.length > 0">
      <!--  <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>@Sentences.filterByName</label>
                    <input type="text" data-ng-model="nameFilter" class="form-control" />
                </div>
            </div>
        </div>-->

        <div style="max-height: 250px; overflow-x: auto">
            <table class="table">
                <thead>
                    <tr>
                        <th>@Sentences.name</th>
                        <th>@Sentences.email</th>
                        <th>@Sentences.profile</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="permission in permissions">
                        <td>{{permission.user.name}}</td>
                        <td>{{permission.user.email}}</td>
                        <td>
                            <select class="form-control"
                                    data-ng-options="profile.value as profile.label
                                                 for profile in profileOptions"
                                    data-ng-model="permission.profile"></select>
                        </td>
                        <td>
                            <button class="btn btn-default"
                                    data-ng-click="removePermission(permission)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </article>

    <div class="button-group">
        <button class="btn btn-default">
            @Sentences.undo
        </button>
        <button class="btn btn-primary"
                data-ng-click="save()">
            @Sentences.save
        </button>
    </div>
</div>