@using GSDRequirementsCSharp.Infrastructure.Internationalization

<article>
    <table class="table" data-ng-show="issueInDetail == null">
            <thead>
                <tr>
                    <th>@Sentences.id</th>
                    <th>@Sentences.lastModificationAt</th>
                    <th>@Sentences.description</th>
                    <th>@Sentences.comments</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="issue in issues">
                    <td>
                        <a data-ng-href="#/issue/{{issue.identifier}}"
                           data-ng-click="issueInDetail = issue">
                            #{{issue.identifier}}
                        </a>
                    </td>
                    <td>{{issue.lastModificationLabel}}</td>
                    <td>{{issue.description}}</td>
                    <td>{{issue.comments.length}}</td>
                </tr>
            </tbody>
    </table>
    <div data-ng-show="issueInDetail">
        <h3> #{{issueInDetail.identifier}} @Sentences.issueDetails</h3>

        <div class="form-group">
             <select class="form-control"
                     data-ng-options="locale for locale in availableContentLocales"
                     data-ng-model="displayLocale">
             </select>
        </div>
        <dl>
            <dt>@Sentences.description</dt>
            <dd>
                {{currentDescription}}
            </dd>             
        </dl>

        <div data-ng-repeat="comment in issueInDetail.comments">
            {{comment.creator.name}} - {{comment.description}}
        </div>

        <div class="btn-group">
            <a class="btn btn-default"
               href="#/"
               data-ng-click="">
                @Sentences.goBackToList
            </a>
            <button class="btn btn-primary"
                    data-ng-click="addComment(issueInDetail)">
                @Sentences.addComment
            </button>
        </div>
    </div>
</article>
