@using GSDRequirementsCSharp.Infrastructure.Internationalization

<article>
    <h3 data-ng-show="isDiagramVisible()">
        @Sentences.manageClassDiagram
    </h3>

    <div class="btn-group"
         style="margin-bottom: 10px; "
         data-ng-show="isDiagramVisible()">
        <button class="btn btn-primary"
                data-ng-click="newClass()">
            @Sentences.addClass
        </button>
        <button class="btn btn-default"
                title="@Sentences.atLeastOneClassMustBeRegisteredToAccessTheRelationManagement"
                data-ng-show="classes.length == 0"
                disabled="disabled">
            @Sentences.manageRelations
        </button>
        <button class="btn btn-default"
                data-ng-show="classes.length > 0"
                data-ng-click="editRelations()">
            @Sentences.manageRelations
        </button>
    </div>
    <div class="btn-group"
         style="margin-bottom: 10px; "
         data-ng-show="selectedClass">
        <button class="btn btn-default"
                data-ng-click="removeSelectedClass()">
            @Sentences.removeSelectedClass
        </button>
        <button class="btn btn-default"
                data-ng-click="editSelectedClass()">
            @Sentences.editSelectedClass
        </button>
    </div>

    <article data-ng-show="currentClass">
        @Html.Partial("_Form")
    </article>

    <article data-ng-show="editingRelations">
        @Html.Partial("_Relations")
    </article>

    <div id="classDiagramPaperContainer" data-ng-show="isDiagramVisible()">
        <div id="classDiagramPaper">

        </div>
    </div>
</article>