@using GSDRequirementsCSharp.Infrastructure.Internationalization

<article>
    <h3 data-ng-show="showDiagram()">
        @Sentences.manageClassDiagram
    </h3>

    <div class="btn-group" 
         style="margin-bottom: 10px; "
         data-ng-show="showDiagram()">
        <button class="btn btn-primary"
                data-ng-click="newClass()">
            @Sentences.addClass
        </button>
        <button class="btn btn-default"
                data-ng-click="editRelations()">
            @Sentences.editRelations
        </button>
    </div>
    <div class="btn-group" 
         style="margin-bottom: 10px; "
         data-ng-show="selectedClass">
        <button class="btn btn-default"
                data-ng-click="removeSelectedClass()">
            @Sentences.removeSelectedClass
        </button>
        <button class="btn btn-default"
                data-ng-click="editSelectedClass()">
            @Sentences.editSelectedClass
        </button>
    </div>

    <article data-ng-show="currentClass">
        @Html.Partial("_Form")
    </article>

    <div class="row" data-ng-show="editingRelations">
        <h3>
            @Sentences.relations
            <button class="btn btn-primary"
                    title="@Sentences.addRelation">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </h3>
        <table class="table">
            <thead>
                <tr>
                    <th>@Sentences.source</th>
                    <th>@Sentences.sourceMultiplicity</th>
                    <th>@Sentences.relationType</th>
                    <th>@Sentences.target</th>
                    <th>@Sentences.targetMultiplicity</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="relation in relations">
                    <td>{{relation.source}}</td>
                    <td>{{relation.sourceMultiplicity}}</td>
                    <td>{{relation.relationType}}</td>
                    <td>{{relation.target}}</td>
                    <td>{{relation.targetMultiplicity}}</td>
                    <td>
                        <span class="glyphicon glyphicon-trash"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="classDiagramPaperContainer" data-ng-show="showDiagram()">
        <div id="classDiagramPaper">

        </div>
    </div>
</article>