<!DOCTYPE html>

@using GSDRequirementsCSharp.Infrastructure.Internationalization
@using GSDRequirementsCSharp.Web.Context
@using GSDRequirementsCSharp.Web.Models;
@using System.Threading
@using Models = GSDRequirementsCSharp.Domain.Models

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/content/vendors.min.css" rel="stylesheet" />
    <link href="~/content/styles.min.css" rel="stylesheet" />
    <script src="~/scripts/vendor.js"></script>
    <script src="~/scripts/app.js"></script>

    @Html.Partial("~/Views/Shared/Internationalization/DataToJS.cshtml")
</head>
<body data-ng-app="app" data-ng-controller="MainController" class="hidden-pre-load">

    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <!-- <img src="~/content/images/world-logo.gif" height="30px" />-->
            </a>
        </div>
        <div class="collapse navbar-collapse">
            @{
                var currentProjectId = ProjectContext.Current();
            }

            <ul class="nav navbar-nav">
                <li>
                    <a href="@Url.Action("Index","Home")">
                        <span class="fa fa-home"></span>
                        @Sentences.homePage
                    </a>
                </li>
            </ul>
            @if (currentProjectId != null && ViewBag.Profile != null)
            {
            <ul class="nav navbar-nav">
                <li>
                    <a href="@Url.Action("Index","Package")">
                        @Sentences.packages
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#"
                       class="dropdown-toggle"
                       data-toggle="dropdown"
                       role="button"
                       aria-haspopup="true" aria-expanded="false">
                        @Sentences.artifacts <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="@Url.Action("Index", "Requirement")">
                                @Sentences.requirements
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "UseCaseDiagram")">
                                @Sentences.useCaseDiagrams
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "ClassDiagram")">
                                @Sentences.classDiagrams
                            </a>
                        </li>
                    </ul>
                </li>
                @if (ViewBag.Profile == Models.Profile.ProjectOwner)
                    {
                    <li class="dropdown">
                        <a href="#"
                           class="dropdown-toggle"
                           data-toggle="dropdown"
                           role="button"
                           aria-haspopup="true" aria-expanded="false">
                            @Sentences.permissions <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="@Url.Action("UserManagement", "Permission")">
                                    @Sentences.manageUsers
                                </a>
                            </li>
                        </ul>
                    </li>
                    }
                <li class="dropdown">
                    <a href="#"
                       class="dropdown-toggle"
                       data-toggle="dropdown"
                       role="button"
                       aria-haspopup="true" aria-expanded="false">
                        @Sentences.report <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="@Url.Action("Index", "Reports")">
                                @Sentences.traceabilityMatrix
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            }

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="@Url.Action("Index", "Project")">
                        @Sentences.manageProjects
                    </a>
                </li>
                <li>
                <li class="dropdown">
                    <a class="dropdown-toggle"
                       href="#"
                       title="@Sentences.changeProjectInContext"
                       data-toggle="dropdown"
                       id="navLogin">
                        {{currentProjectName}}
                        <span class="caret" data-ng-show="projectContextPendingRequests == 0"></span>
                        <span data-ng-show="projectContextPendingRequests > 0"
                              class="fa fa-spinner fa-spin fa-pulse">
                        </span>
                    </a>

                    <div class="dropdown-menu" style="padding:17px;">
                        <div data-gsd-project-context=""
                             data-current-project-id="currentProjectId"
                             data-pending-requests="projectContextPendingRequests"
                             data-current-project-name="currentProjectName">
                        </div>
                    </div>
                </li>

                <li>
                    <a href="@Url.Action("Index","Help")">
                        <span class="glyphicon glyphicon-question-sign"></span>
                        @Sentences.help
                    </a>
                </li>
                @{
                    var locales = Locale.GetLocales();
                    var currentLocaleName = Thread.CurrentThread.CurrentCulture.Name;
                    var currentLocale = locales.FirstOrDefault(l => l.Name == currentLocaleName);
                    if (currentLocale == null)
                    {
                        currentLocale = locales.FirstOrDefault();
                    }
                }
                <li class="dropdown">
                    <a class="dropdown-toggle"
                       href="#"
                       title="@Sentences.changeLanguage"
                       data-toggle="dropdown" id="navLogin">
                        <span class="glyphicon glyphicon-globe"></span>
                        @currentLocale.Label
                        <span class="caret"></span>
                    </a>
                    <div class="dropdown-menu" style="padding:17px;">
                        @Html.Partial("Internationalization/CurrentCultureSetterForm")
                    </div>
                </li>
                @if (@ViewBag.UserContact != null)
                {
                <li style="margin-right: 19px; ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user"></span>
                        <strong>@HttpContext.Current.User.Identity.Name</strong>
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="navbar-login">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <p class="text-center">
                                            <span class="glyphicon glyphicon-user icon-size"></span>
                                        </p>
                                    </div>
                                    <div class="col-lg-8">
                                        <p class="text-left">
                                            <strong>@ViewBag.UserContact.Name</strong>
                                        </p>
                                        <p class="text-left small">
                                            @ViewBag.UserContact.Email
                                        </p>
                                        <p class="text-left">
                                            <a href="@Url.Action("Index","User")"
                                               class="btn btn-primary btn-block btn-sm">
                                                @Sentences.edit
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="navbar-login navbar-login-session">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p>
                                            <a href="@Url.Action("Logout", "Authentication")"
                                               class="btn btn-default btn-block">
                                                @Sentences.logout
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                }
            </ul>
        </div>
    </nav>

    <div class="container">
        @RenderBody()
    </div>

</body>
</html>
